<main class="mh-900">
    <div class="container">
        <section id="the-post">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <span>
                                <img width="40" class="rounded-circle" src="" alt="User profile image">
                            </span>
                            <span class="ms-2"></span>
                            <span class="float-end"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{post.postTitle}}</h5>
                            <p class="card-text">{{post.postBody}}</p>
                            <div class="dropdown float-end">
                                <a class="dropdown-toggle text-decoration-none" href="#" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fas fa-ellipsis-h"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="">
                                            <i class="fas fa-pen"></i>
                                            Edit
                                        </a></li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <i class="fas fa-eraser"></i>Delete</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>